* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hacer-reporte-form {
    padding: 20px;
    background-color: black;
    margin: 0 auto;
    width: 40%;
    color: white;
}

.hacer-reporte-form button {
    padding: 10px 20px;
    margin: 0 auto;
    font-weight: 500;
    color: white;
    display: flex;
    background-color: #72b920;
}

.hacer-reporte-form button:hover {
    background-color: #72b920;
    opacity: 95%;
}

@media (max-width: 768px) {
    .hacer-reporte-form {
        margin-top: 2rem;
        width: 80%;
    }
}