/*Womp Womp :p */

/*Fondo*/
.bg-color-reportes {
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
}

/*Boton*/
.btn-primary {
    background-color: #425c25;
    border: #333;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #8eb364;
}